In [2]:
story = 'once'
for char in story:
    print(char)

o
n
c
e

In [7]:
names =['alice', 'bob', 'charlie','david','eve', 'frank']
for name in names:
    print(name, len(name))

alice 5
bob 3
charlie 7
david 5
eve 3
frank 5

In [9]:
fruits = ['apple','banana', 'mango']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have mango

In [10]:
# range 
for i in range(6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [11]:
for num in range(1, 10, 3):
    print('level', num)

level 1
level 4
level 7

In [12]:
for num in range(2,11):
    print('sheep',  num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [13]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [14]:
#pattern loop
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [27]:
total = 0
for i in range(1, 51):
    total += i
print(total)

1275

In [30]:
total = 0
for i in range(1,100): 
    if i % 3==0:
        total += i
print(total)

1683

In [31]:
total = 0 
for i in range(3, 100 ,3):
    total += i
print(total)

1683

In [ ]:
total = 0 
 for i in range(1,100):
     total =+ i
mean