In [1]:
a = 18 
print(a)

18

In [2]:
type(a)

int

In [3]:
s = None
type(s)

NoneType

In [ ]:
n =True
type(n)

bool

In [ ]:
c = 'python'
type(c)

str

In [ ]:
b = 2.4
type(b)

float

In [1]:
age = 12
print(age)

12

In [9]:
name= "shambhavi"
print('shambhavi')
type(name)

shambhavi

str

In [10]:
age = 20
print(age)
type(age)

20

int

In [11]:
faviorate_dream1 = 'being a buisness women'
print(faviorate_dream1)
type(faviorate_dream1)

being a buisness women

str

In [12]:
faviorate_dream2 = 'become a developer'
print(faviorate_dream2)
type(faviorate_dream2)

become a developer

str

In [5]:
var1 = "Hello world"
print(var1)
type(var1)

Hello world

str

In [6]:
print(type(var1))

<class 'str'>

In [7]:
var2 = 9
print(var2)
print(type(var2))

9
<class 'int'>

In [8]:
var3 = 23.6
print(var3)
print(type(var3))

23.6
<class 'float'>

In [12]:
#concatenate
var1 = 'Hello world '
var2 = 'sham'
print(var1 +var2)
type(var1+var2)

Hello world sham

str

In [16]:
#concatenate
var1 = 24.5
var2 = 4
print(var1 + var2 )

28.5

In [19]:
#concatenate
var1 = '43'
var2 = '54'
print(var1  +  var2)

4354

In [20]:
#typecasting string into integer
var1 = '43'
var2 = '54'
print(int(var1) + int(var2))

97

In [21]:
#typecasting integer into string
var1 = 43
var2 = 54
print(str(var1) + str(var2))

4354

In [22]:
#typecasting string into float 
var1 = '54'
var2 = '35'
print(float(var1) + float(var2))

89.0

In [24]:
#typecasting float into string 
var1 = 34.6 
var2 = 46.8
print(str(var1) + str(var2))

34.646.8

In [25]:
#typecasting integer into float
var1 = 42
var2 = 56
print(float(var1) + (var2))

98.0

In [26]:
#typecasting float into integer
var1 = 54.6
var2 = 32.23
print(int(var1) + int(var2))

86

In [3]:
age = 12.6
print(int(age))

12

In [1]:
var1 = '45'
var2 = '32'
print(10* (str (int(var1) + int(var2) )))

77777777777777777777

In [3]:
x = None
print(type(x))

<class 'NoneType'>

In [4]:
#list
a = [12, 34, 54, 67]
print(a)

[12, 34, 54, 67]

In [6]:
a = [1, 23.6, 'red']
print(a)
print(type(a))

[1, 23.6, 'red']
<class 'list'>

In [9]:
value = [12, 32, 12]
print(value)

[12, 32, 12]

In [12]:
likes = ['dance', 'art', 'money']
print(likes)
print(type(a))

['dance', 'art', 'money']
<class 'list'>

In [15]:
#tuples
a = (5, 10 , 15, 20, 25, 30, 5)
print(a)
print(type(a))

(5, 10, 15, 20, 25, 30, 5)
<class 'tuple'>

In [ ]:
#set
a =














































)