In [1]:
a = 18 
print(a)

18

In [2]:
type(a)

int

In [3]:
s = None
type(s)

NoneType

In [ ]:
n =True
type(n)

bool

In [ ]:
c = 'python'
type(c)

str

In [ ]:
b = 2.4
type(b)

float

In [1]:
age = 12
print(age)

12

In [9]:
name= "shambhavi"
print('shambhavi')
type(name)

shambhavi

str

In [10]:
age = 20
print(age)
type(age)

20

int

In [11]:
faviorate_dream1 = 'being a buisness women'
print(faviorate_dream1)
type(faviorate_dream1)

being a buisness women

str

In [12]:
faviorate_dream2 = 'become a developer'
print(faviorate_dream2)
type(faviorate_dream2)

become a developer

str

In [5]:
var1 = "Hello world"
print(var1)
type(var1)

Hello world

str

In [6]:
print(type(var1))

<class 'str'>

In [7]:
var2 = 9
print(var2)
print(type(var2))

9
<class 'int'>

In [8]:
var3 = 23.6
print(var3)
print(type(var3))

23.6
<class 'float'>

In [12]:
#concatenate
var1 = 'Hello world '
var2 = 'sham'
print(var1 +var2)
type(var1+var2)

Hello world sham

str

In [16]:
#concatenate
var1 = 24.5
var2 = 4
print(var1 + var2 )

28.5

In [19]:
#concatenate
var1 = '43'
var2 = '54'
print(var1  +  var2)

4354

In [20]:
#typecasting string into integer
var1 = '43'
var2 = '54'
print(int(var1) + int(var2))

97

In [21]:
#typecasting integer into string
var1 = 43
var2 = 54
print(str(var1) + str(var2))

4354

In [22]:
#typecasting string into float 
var1 = '54'
var2 = '35'
print(float(var1) + float(var2))

89.0

In [24]:
#typecasting float into string 
var1 = 34.6 
var2 = 46.8
print(str(var1) + str(var2))

34.646.8

In [25]:
#typecasting integer into float
var1 = 42
var2 = 56
print(float(var1) + (var2))

98.0

In [26]:
#typecasting float into integer
var1 = 54.6
var2 = 32.23
print(int(var1) + int(var2))

86

In [1]:
age = 12.6
print(int(age))

12

In [1]:
var1 = '45'
var2 = '32'
print(10* (str (int(var1) + int(var2) )))

77777777777777777777

In [3]:
x = None
print(type(x))

<class 'NoneType'>

In [4]:
#list
a = [12, 34, 54, 67]
print(a)

[12, 34, 54, 67]

In [6]:
a = [1, 23.6, 'red']
print(a)
print(type(a))

[1, 23.6, 'red']
<class 'list'>

In [9]:
value = [12, 32, 12]
print(value)

[12, 32, 12]

In [12]:
likes = ['dance', 'art', 'money']
print(likes)
print(type(a))

['dance', 'art', 'money']
<class 'list'>

In [15]:
#tuples
a = (5, 10 , 15, 20, 25, 30, 5)
print(a)
print(type(a))

(5, 10, 15, 20, 25, 30, 5)
<class 'tuple'>

In [1]:
a = ('mango','banana','orange','papaya')
print(a)

('mango', 'banana', 'orange', 'papaya')

In [2]:
print(type(a))

<class 'tuple'>

In [5]:
#sets
x ={3,4,5,6,7}
print(x)
print(type(x))

{3, 4, 5, 6, 7}
<class 'set'>

In [7]:
#dictionaries
car_info = {'brand' : 'bmw',
             'model': 'first',              
             'year' : '1998'}
print(car_info)

{'brand': 'bmw', 'model': 'first', 'year': '1998'}

In [1]:
a = 'hello world'
b = 32
c = 24.7

In [8]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [11]:
print(5* "hello world \n")

hello world
hello world
hello world
hello world
hello world

In [12]:
a = 4 
b = 6
print(a+b)

10

In [16]:
a = 'ram '
b = 'sita'
print(a + b)

ram sita

In [18]:
a = 56.7
b = 43.6
print(a+b)
type(a+b)

100.30000000000001

float

In [23]:
a = 'ram'
b = '34'
print(a+b)

ram34

In [25]:
a = '34 '
b = '55'
print(a+b)

34 55

In [32]:
print(10 * str(int(a ) + int(b ) ) )

89898989898989898989

In [34]:
print('enter your number')
number = input()

print('you enter', int(number)+10)

enter your number
you enter 20

In [38]:
print('enter first number')
number1 = input()

print('enter second number')
number2 = input()

print('sum', int(int(number1) + int(number2))+10)

enter first number
enter second number
sum 14

In [41]:
print('enter first number')
num1 = input()

print('enter second number')
num2 = input()

print('substraction of these two numbers is', int(num1) - int(num2))

enter first number
enter second number
multiplication of these two numbers is 0

In [42]:
print('enter first number')
num1 = input()

print('enter second number')
num2 = input()

print('multiplication of these two numbers is', float(num1) * float(num2))

enter first number
enter second number
multiplication of these two numbers is 25.0

In [44]:
print('enter first number')
num1 = input()

print('enter second number')
num2 = input()

print('division of these two numbers is', float(num1) / float(num2))

enter first number
enter second number
division of these two numbers is 1.309090909090909

In [49]:
print('enter first number')
num1 = input()

print('enter second number')
num2 = input()

print('sum of these two numbers is', float(num1) + float(num2))
print('substraction of these two numbers is', float(num1) - float(num2))
print('multiplication of these two numbers is', float(num1) * float(num2))
print('division of these two numbers is', float(num1) / float(num2))
print('modulus of these two numbers is', float(num1) % float(num2))

enter first number
enter second number
sum of these two numbers is 32.0
substraction of these two numbers is 12.0
multiplication of these two numbers is 220.0
division of these two numbers is 2.2
modulus of these two numbers is 2.0