In [2]:
my_set = {1 ,2 ,3, 4}
print(my_set)

{1, 2, 3, 4}

In [5]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [6]:
my_set.add(2)
print(my_set)

{1, 2, 3}

### set union

In [7]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

### intersection

In [10]:
print(a&b)

{4, 5}

In [11]:
a.intersection(b)

{4, 5}

### difference

In [12]:
print(a-b)

{1, 2, 3}

In [13]:
a.difference(b)

{1, 2, 3}

In [14]:
print(b-a)

{8, 6, 7}

### symmetric difference

In [15]:
print(a^b)

{1, 2, 3, 6, 7, 8}

In [16]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

### create 2 sets of electric devices and perform set operations on them

In [2]:
a = {'cooler', 'AC', 'mobile', 'car'}
b = {'remote', 'keyboard', 'charger', 'car', 'AC'}

In [18]:
a.union(b)

{'AC', 'car', 'charger', 'cooler', 'keyboard', 'mobile', 'remote'}

In [19]:
a.intersection(b)

{'AC', 'car'}

In [20]:
a.difference(b)

{'cooler', 'mobile'}

In [3]:
a.symmetric_difference(b)

{'charger', 'cooler', 'keyboard', 'mobile', 'remote'}

In [1]:
# we can make a  set from a list
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3}

In [2]:
#set can not have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [4]:
#thrown error
my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [5]:
frnds = {'ramu', 'kalu', 'edvik', 'richard'}
print(frnds)

{'ramu', 'edvik', 'richard', 'kalu'}

### empty set

In [6]:

a = set()

#check data type of a
print(type(a))

<class 'set'>

### add items in list

In [2]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [8]:
# add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [9]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [3]:
# add list and set 
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3, 4, 5, 6, 8}

### removing items from set

In [4]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [6]:
# discard and element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [7]:
# remove an element
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [10]:
# pop a random item
my_set.pop()
print(my_set)

set()

In [12]:
# clear my set 
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

set()

### set union

In [13]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [17]:
print(a | b)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [1]:
frds = {'ramu', 'shamu', 'lallan', 'sallan', 'kallan'}
print(frds)

{'ramu', 'lallan', 'sallan', 'kallan', 'shamu'}

In [2]:
books = set()
for i in range (5):
    books.add(input('enter a book: '))
print(books)

{'eghskgkhur', 'hshhg', 'fadfbjdg', 'dvsjdhkshg', 'gkhvkhgf'}

In [3]:
x = {1, 2, 3, 4}
x1 = list(x)
print(x, x1)

{1, 2, 3, 4} [1, 2, 3, 4]

In [4]:
xt = tuple(x)
print(x, xt)

{1, 2, 3, 4} (1, 2, 3, 4)

In [3]:
dx = [1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 4]
ds = set(dx)
print(dx, ds)

[1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 4] {1, 2, 3, 4, 5}

### dictionary

In [1]:
info_dict = {'name' : 'narendra',
             'subject' : 'ai',
             'age' : 40,
             'marriied' : True,
             'is_student' : False,
             'id' : 18
}
print(info_dict)

{'name': 'narendra', 'subject': 'ai', 'age': 40, 'marriied': True, 'is_student': False, 'id': 18}